.cart {
  width: 25em;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2em;
  z-index: 1;
  background-color: #d0c4c4;

  ::-webkit-scrollbar {
    display: none;
  }

  &__btn-close {
    background-color: transparent;
    width: 2em;
    height: 2em;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 1em;
    right: 1em;
  }

  &-title {
    text-align: center;
    margin-block: 2em;
    letter-spacing: 0.1em;
  }

  // cart-container
  &__wrapper {
    max-height: 80vh;
    overflow-y: scroll;

    // width: 100%;

    // cart-item
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      &-img {
        border-radius: 50%;
      }

      &-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        height: 100%;
        margin-left: 0.4em;
      }
    }
  }

  &__product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__product-add {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sum {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
    margin-top: 2em;

    &-number {
      font-weight: 700;
    }
  }

  .btn-clear {
    padding: 0.4em 0.6em;
    border-radius: 0.4em;
  }
}

.show {
  transform: translate(0);
  transition: all 1s ease;
}

.hide {
  transform: translate(100%);
  transition: all 1s ease;
}
